@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.nav-item {
    font-family: 'Roboto';
    color: #1D1D1D;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-style: normal;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(29, 29, 29, 0.5), rgba(29, 29, 29, 0.5)), url("../index3-img/Hero-Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text {
    padding-top: 200px;
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
}

.btn {
    background: white;
    color: #1D1D1D;
    font-weight: bold;
}

.btn :active {
    border: none;
}

.border-orange {
    border: 2px solid #FE5D26;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.rectangle {
    position: absolute;
    top: 80px;
    height: 32vh;
    right: 10px;
    width: 3vw;
    background: #FE5D26;
    transform: rotate(180deg)
}

.rectangle p {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #1D1D1D;
    text-align: center;
    display: inline-block;
}

.rectangle-2 {
    position: absolute;
    top: 80px;
    height: 32vh;
    width: 3vw;
    background: #FE5D26;
    transform: rotate(180deg)
}

.rectangle-2 p {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #1D1D1D;
    text-align: center;
    display: inline-block;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\002B24";
    color: #FE5D26;
    /* font-size: 12px; */
    font-weight: 900;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
}

.image-stack {
    display: grid;
    position: relative;
    /* imperative for the overlapping to work */
    grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
    grid-column: 2 / -1;
    grid-row: 1;
}

.image-stack__item--right {
    grid-column: 2 / -1;
    /* grid-row: 1; */
}

.image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 30%;
    /* / slightly arbitrary, keeps proportion once resized */
    z-index: 1;
    /* // tells the browser to make this image on top */
}

img {
    width: 100%;
    display: block;
}

.gallery {
    background: #1D1D1D;
}


/* MEDIA QUERIES */

@media screen and (max-width: 576px) {
    .hero {
        background: linear-gradient(rgba(29, 29, 29, 0.5), rgba(29, 29, 29, 0.5)), url("../index3-img/Hero-img-mob.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 80vh;
    }
    .hero-text {
        font-size: 25px;
        padding-top: 150px;
        line-height: 35px;
    }
    .btn-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .latest-img {
        display: none;
    }
}


/* @media screen and (max-width: 991px) {
    .hero {
        background: linear-gradient(rgba(29, 29, 29, 0.5), rgba(29, 29, 29, 0.5)), url("../index3-img/Hero-img-mob.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
} */