@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.nav-item {
    font-family: 'Roboto';
    color: #1D1D1D;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-style: normal;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(29, 29, 29, 0.5), rgba(29, 29, 29, 0.5)), url("../index3-img/Hero-Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text {
    padding-top: 200px;
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
}

.btn {
    background: white;
    color: #1D1D1D;
    font-weight: bold;
}

.latest-works {
    padding-top: 60px;
}

.btn :active {
    border: none;
}

.border-orange {
    border: 2px solid #FE5D26;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.border-orange-services {
    border: 2px solid #FE5D26;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.rectangle {
    position: absolute;
    top: 80px;
    height: 32vh;
    right: 10px;
    width: 3vw;
    background: #FE5D26;
    transform: rotate(180deg)
}

.rectangle p {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #1D1D1D;
    text-align: center;
    display: inline-block;
}

.rectangle-2 {
    position: absolute;
    top: 80px;
    height: 32vh;
    width: 3vw;
    background: #FE5D26;
    transform: rotate(180deg)
}

.rectangle-2 p {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #1D1D1D;
    text-align: center;
    display: inline-block;
}

ul {
    list-style: none;
}

.lorem ul li::before {
    content: "\002B24";
    color: #FE5D26;
    /* font-size: 12px; */
    font-weight: 900;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
}

.gallery-head {
    background: #1D1D1D;
}

.card-body {
    /* height: 40px; */
    background: #1D1D1D;
    color: white;
}

.card-text span {
    text-align: center;
    font-size: 16px;
}

.foot {
    background: #1D1D1D;
    color: white;
    /* padding: 60px; */
}

.head-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 46px;
    color: #FFFFFF;
}

li {
    margin: 0px;
    padding: 0px;
}

.inner {
    background-color: white;
    /* width: 100px; */
    /* position: absolute; */
    /* width: 200px; */
}

.mobile-latest {
    display: none;
}

.ryan-img {
    max-width: 100%;
    height: auto;
}

.emily-img {
    max-width: 100%;
    height: auto;
}

.emily-text p {
    padding-top: 50px;
}

.sessions-pad {
    padding-left: 60px
}

.img-fluids img {
    max-width: 100%;
    height: 20vh;
}


/* MEDIA QUERIES */

@media screen and (max-width: 576px) {
    .hero {
        background: linear-gradient(rgba(29, 29, 29, 0.5), rgba(29, 29, 29, 0.5)), url("../index3-img/Hero-img-mob.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 80vh;
    }
    .hero-text {
        font-size: 25px;
        padding-top: 150px;
        line-height: 35px;
    }
    .btn-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .latest-img {
        display: none;
    }
    .latest-works {
        padding-top: 2px;
    }
    .container .col-reverse .row {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    .mobile-latest {
        display: block;
        margin-bottom: -30px;
        text-align: left;
        margin-left: 12px;
    }
    .desktop-latest {
        display: none;
    }
    div .col p {
        margin-bottom: -2rem;
    }
    .ryan-img {
        max-width: 85%;
        height: auto;
    }
    .rectangle {
        position: absolute;
        top: -185px;
        height: 21vh;
        right: 25px;
        width: 8vw;
        background: #FE5D26;
        transform: rotate(180deg);
    }
    .rectangle p {
        writing-mode: vertical-lr;
        text-orientation: mixed;
        color: #1D1D1D;
        font-size: 8px;
        font-weight: 500;
    }
    .emily-img {
        max-width: 85%;
        height: auto;
        margin-left: 40px;
    }
    .rectangle-2 {
        position: absolute;
        top: -194px;
        height: 21vh;
        width: 8vw;
        background: #FE5D26;
        transform: rotate(180deg);
        left: 21px;
    }
    .rectangle-2 p {
        writing-mode: vertical-lr;
        text-orientation: mixed;
        color: #1D1D1D;
        font-size: 8px;
        font-weight: 500;
    }
    .emily-text p {
        padding-top: 2px;
    }
    .border-orange-services {
        display: none;
    }
    .sessions-pad {
        padding-left: 0px
    }
    .img-fluids img {
        max-width: 100%;
        height: 17vh;
    }
}


/* @media screen and (max-width: 991px) {
    .hero {
        background: linear-gradient(rgba(29, 29, 29, 0.5), rgba(29, 29, 29, 0.5)), url("../index3-img/Hero-img-mob.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
} */